extends ../layout

block title
  | #{name} | CSSoc

block append head
  link(rel='stylesheet', href='/assets/css/album.min.css', type='text/css')

block content
  section#album
    h1= name
    #desktop-container
      .wrapped-container
        .scrolling
          each photo in photos
            img(onclick='selectPhoto(\'#{photo}\')' src='/assets/images/gallery/#{id}/#{photo}.small.jpg')
        .display
          img#desktop-photo
          .left(onclick='selectPrevious()')
          .right(onclick='selectNext()')
    #mobile-container
      .display
        .left(onclick='selectPrevious()')
        .right(onclick='selectNext()')
        img#mobile-photo
      .scrolling
        each photo in photos
          img(onclick='selectPhoto(\'#{photo}\')' src='/assets/images/gallery/#{id}/#{photo}.small.jpg')

block append scripts
  script(type='text/javascript' src='/assets/js/album.min.js')
  script.
    initialize('#{id}', !{JSON.stringify(photos)});