extends ../layout

block append head
  link(rel='stylesheet', href='/assets/css/album.min.css', type='text/css')

block content
  section#album
    h1= name
    #desktop-container
      .scrolling
        each photo in photos
          img(onclick='selectPhoto(\'#{id}\', \'#{photo}\')' src='/assets/images/gallery/#{id}/#{photo}.small.jpg')
      .display
        img#desktop-photo(src='/assets/images/gallery/#{id}/#{photos[0]}.large.jpg')
    #mobile-container
      .display
        img#mobile-photo(src='/assets/images/gallery/#{id}/#{photos[0]}.large.jpg')
      .scrolling
        each photo in photos
          img(onclick='selectPhoto(\'#{id}\', \'#{photo}\')' src='/assets/images/gallery/#{id}/#{photo}.small.jpg')

block append scripts
  script(type='text/javascript' src='/assets/js/gallery.min.js')