extends ../layout

block append head
  link(rel='stylesheet', href='/assets/css/album.min.css', type='text/css')

block content
  section#album
    h1= name
    #desktop-container
      .scrolling
        each photo in photos
          img(src='/assets/images/gallery/#{id}/#{photo}.small.jpg')
      .display
        img(src='/assets/images/gallery/#{id}/#{photos[0]}.large.jpg')
    #mobile-container
      .display
        img(src='/assets/images/gallery/#{id}/#{photos[0]}.large.jpg')
      .scrolling
        each photo in photos
          img(src='/assets/images/gallery/#{id}/#{photo}.small.jpg')